.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  gap: 12px;
  box-shadow: 3px 3px 10px rgba(216, 212, 212, 0.5);
  background-color: rgb(31, 31, 37);
}
