.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* width: 100%; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(216, 212, 212, 0.5);
  background-color: rgb(31, 31, 37);
}

.title {
  color: rgba(25, 118, 210, 0.5);
  text-align: center;
}
.textBlock {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.link {
  text-decoration: none;
  text-align: center;
  color: rgba(25, 118, 210, 1);
  transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: rgba(0, 71, 155, 1);
}

.img {
  display: block;
  width: 100%;
}
