.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 4px 4px 10px #c6cccced;
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(31, 31, 37);
  width: calc(100% / 3 - 40px);
  /* max-width: 520px; */
}

.box {
  display: flex;
  flex-direction: column;
}

.str {
  display: flexbox;
  flex-direction: row;
  gap: 10px;
}

.icon {
  fill: #524a4d;
}

.name,
.number {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  color: #524a4d;
}
