.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.616);
  width: 475px;
}

.text {
  display: block;
}
